<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bonita</title>
</head>
<body>
    <h1>¡Registrar Proyecto!</h1>

    <form method="post">
        
        <label for="id_proyecto">ID Proyecto:</label>
        <input type="number" id="id_proyecto" name="id_proyecto" required><br><br>

        <label for="nombre_proyecto">Nombre Proyecto:</label>
        <input type="text" id="nombre_proyecto" name="nombre_proyecto" required><br><br>

        <label for="estado_proyecto">Estado Proyecto:</label>
        <input type="text" id="estado_proyecto" name="estado_proyecto" required><br><br>

        <label for="id_usuario_proyecto">ID Usuario Proyecto:</label>
        <input type="number" id="id_usuario_proyecto" name="id_usuario_proyecto" required><br><br>

        <fieldset>
            <legend>Plan de Trabajo</legend>
            <label for="plan_nombre">Nombre:</label>
            <input type="text" id="plan_nombre" name="plan_de_trabajo[nombre]"><br><br>
            <label for="plan_descripcion">Descripción:</label>
            <input type="text" id="plan_descripcion" name="plan_de_trabajo[descripcion]"><br><br>
        </fieldset>

        <label for="pedido_cobertura">Pedido Cobertura:</label>
        <input type="text" id="pedido_cobertura" name="pedido_cobertura" required><br><br>

        <button type="submit">Registrar</button>
    </form>
</body>
</html>