<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-semibold" href="/">ProjectPlanning</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if not g.logged_in %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('bonita.login_form') }}">
            Iniciar sesión
          </a>
        </li>

        {% else %} {% if g.role == 'ong_originante' %}
        <li class="nav-item">
          <a
            class="nav-link"
            href="{{ url_for('project.create_project_form') }}"
            >Crear proyecto</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="{{ url_for('project.list_observations_by_user') }}"
            >Listar observaciones</a
          >
        </li>
        {% elif g.role == 'ong_colaborativa' %}
        <li class="nav-item">
          <a class="nav-link" href="#">Proyectos disponibles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mis etapas asignadas</a>
        </li>
        {% elif g.role == 'consejo_directivo' %}
        <li class="nav-item">
          <a class="nav-link" href="#">Listar proyectos</a>
        </li>
        {% endif %} {# Botón de cierre de sesión (siempre visible cuando está
        logueado) #}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('bonita.logout') }}">
            Cerrar sesión
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
